body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

h1 {
    color: #333;
    font-size: 24px;
    margin: 10px;
}

#game-container {
    position: relative;
    max-width: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

canvas {
    max-width: 100%;
    height: auto;
    width: 30%; /* Set the initial size as 30% of the container width */
}


.red-cursor {
    cursor: url('red-circle.png') 10 10, auto; /* Replace 'red-circle.png' with your red circle image path and adjust the position if needed */
}




